
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 27% 21%;
    --foreground: 30 30% 95%;
    --card: 240 27% 25%;
    --card-foreground: 30 30% 95%;
    --popover: 240 27% 23%;
    --popover-foreground: 30 30% 95%;
    --primary: 30 48% 64%;
    --primary-foreground: 240 27% 15%;
    --secondary: 240 27% 30%;
    --secondary-foreground: 30 30% 95%;
    --muted: 240 27% 30%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 27% 30%;
    --accent-foreground: 30 30% 95%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 27% 30%;
    --input: 240 27% 30%;
    --ring: 30 48% 70%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .stars {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .stars {
    background:#000 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAHhJREFUWEft1TEKACAQBEE/S/e/hB7EoU1cTxUkkQ/s/yQl5wRAb0y7i+q4iYxG0A2E2FbmjQJ0A+E2FbalS5c+fMDBfQ9hNhVvS4dugHwmwqs0WEXYK4VYVdaVER3pE2E2F32AI/QBYTYXNYBAg/gAAds0bBAAAAAASUVORK5CYII=) repeat top center;
    z-index: 0;
  }
  
  @keyframes move-twink-back {
      from {background-position:0 0;}
      to {background-position:-10000px 5000px;}
  }

  .twinkling {
    animation:move-twink-back 200s linear infinite;
    background:transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAYlJREFUWEfF10tSAyEUAMAP9+jN9R5e13sPb28/40jw2UaJGmQ1jplJ0v6k+4cOEUIIIYQQQogXQhjj/XowC/UBCSGeiJ+0gNk0wB1Axy3H2uRYQUJIt5B3hWBFHAYkAYdWdC/g8e14WwmYhL4hPZaBwUxoA01gA2+B3wAHeA+sgAcsAr/f8wBOU3wAnECyA/oA/p4nAYrJg/sAYfN/3/cBXqP5AbqA4Q80kK8iADhDswvUAVmKB7gE3gJD1Ac2IcLX+wX8VnAXbEefrBIDFGGvARZAz/UCDIAa8AM2AY/AOfAEvAFp0eD/PAaQAMaACRAJ5O31+3kLkK984CgAN+B3Q9M1AD4EHpW8X8Lfs/An8BDYAj6BL4Av4JXAFrgA5wDNpYqgSnAGPpb/N1wB84A04R2QBc4AueF/CngFngVfAWvALfADnAGXwBPwFtgBHYA3YA84BN4AOwAfaEa2A42Aq2A3eA+WAF2gHegFfqu4AV6A/wBPQC0x6A9wA/wAJgGfqu4APQC3wBPwB3QC7wAawA20A28AOYBvaARuAtcBpoBtYB2wDZwDWwAswD2wDWwF2wEWkAgAAAAASUVORK5CYII=) repeat top center;
    z-index: 1;
  }
}

    